exercise.planner/.project
exercise.planner/.settings/org.eclipse.core.resources.prefs
exercise.planner/.settings/org.eclipse.jdt.core.prefs
exercise.planner/.settings/org.eclipse.m2e.core.prefs
exercise.planner/target/
